$primary-color: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
$secondary-color: white;

* {
    margin: 0;
    padding: 0;
 }

body {
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: $primary-color;
}

h1 {
    padding-left: 41%;
    padding-top: 45px;
    color: white;
}

h3, p {
    padding-left: 30px;
    margin-bottom: 20px;
}

h3 {
    padding-top: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.form-box {
    background-color: $secondary-color;
    width: 40%;
    height: 80vh;
    border-radius: 40px;
}

 fieldset {
   border: none;

   div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }

  .blog-form, textarea {
    height: 60px;
    width: 80%;
    border: none;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
   }

   textarea {
       height: 200px;
   }
}

button {
    border:none;
}

#blog-post {
    border-radius: 10px;
}

#output-blog {
    background-color: $secondary-color;
    width: 40%;
    height: 80vh;
    border-radius: 40px;
}

#button {
    width: 80%;
    height: 100px;
}