* {
    margin: 0;
    padding: 0;
 }

body {
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.form-box {
    // margin-left: 10%;
    // margin-top: 5vh;
    background-color: white;
    width: 40%;
    height: 80vh;
    border-radius: 40px;
}

 fieldset {
   border: none;

   div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }

  .blog-form, textarea {
    height: 60px;
    width: 80%;
    border: none;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
   }

   textarea {
       height: 500px;
   }
}

button {
    border:none;
}

#blog-post {
    border-radius: 10px;
}

#output-blog {
    background-color: white;
    // margin-right: 10%;
    // margin-top: 5vh;
    // margin-left: 40px;
    width: 40%;
    height: 80vh;
    border-radius: 40px;
}

#button {
    width: 80%;
    height: 100px;
}